# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# folders
build/
out/
cmake-build-*/

# project files
.idea/
.vs/
.vscode/
CMakeUserPresets.json

# mac specific
.DS_Store
.cache/